<h1>Welcome</h1>
<link href="~/css/styles.css" rel="stylesheet" />
<body>
    
    <div class="dropdown">
        <button class="dropbtn">Master Data</button>
        <div class="dropdown-content">
            <a href="http://localhost:5256/products/Index">Products</a>
            <a href="http://localhost:5256/warehouses/Index">Warehouses</a>
            <a href="http://localhost:5256/vendors/Index">Vendors</a>
            <a href="http://localhost:5256/customers/Index">Customers</a>
        </div>
    </div>

</body>
<body>
    <div class="dropdown">
        <button class="dropbtn">Purchasing</button>
        <div class="dropdown-content">
            <a href="http://localhost:5256/purchaseorders/Index">PurchaseOrder</a>

        </div>
    </div>

</body>
<body>
    <div class="dropdown">
        <button class="dropbtn">Sales</button>
        <div class="dropdown-content">
            <a href="http://localhost:5256/customerorders/Index">CustomerOrder</a>
            

        </div>
    </div>

</body>
